In [3]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pdb
import gmaps
from urllib.request import urlopen
import json
import requests
import difflib
import sys
import datetime
import google, googlesearch

# Google developer API key
sys.path.append('../')
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [4]:
data_df = pd.read_csv(os.path.join('./DCC_Data/', 'FinalDatasetAirplaneCrashes'))

In [5]:
df = data_df[(data_df["Fatalities"] >= 0 ) & (abs(data_df["Latitude"]) >= 0 )]
df = df.replace(np.nan, '', regex=True)

In [6]:
df['Aboard'] = pd.to_numeric(df['Aboard'])
df['Fatalities'] = pd.to_numeric(df['Fatalities'])

In [7]:
df['Percent Survived'] = df.apply(lambda x: 100 if x['Fatalities'] ==0 else x['Fatalities']/x['Aboard']*100, axis =1)
df_test =df.iloc[0:5]

In [8]:
def nearest(row):#https://stackoverflow.com/questions/20169467/how-to-convert-from-longitude-and-latitude-to-country-or-city
    lat=row['Latitude']
    lon=row['Longitude']
    params = {
        "key": gkey,
        "radius": "50000",
        "location" : str(row["Latitude"]) + "," + str(row["Longitude"])
         }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params).json()
    #pdb.set_trace()  
    try:
        country = response['results'][0]['vicinity'] 
    except:
        country = ''
    #print(requests.get(base_url, params=params).url)
    #print(json.dumps(response, indent=4, sort_keys=True))
    return(country)

In [9]:
def getplace(row):#https://stackoverflow.com/questions/20169467/how-to-convert-from-longitude-and-latitude-to-country-or-city
    lat=row['Latitude']
    lon=row['Longitude']
    params = {
        "key": gkey,
        "latlng" : str(row["Latitude"]) + "," + str(row["Longitude"])
         }
    
    base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
    response = requests.get(base_url, params=params).json()  
    
    try:
        components = response['results'][0]['address_components']
        country = town = None
        for c in components:
            if "country" in c['types']:
                country = c['long_name']
    except:
        #country = nearest(row)
        country = ''
    return(country)

In [ ]:
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
df['Country'] = df.apply(getplace, axis=1)
df['Nearest_Vicinity'] = df.apply(nearest, axis=1)
df.to_csv("df_with_country_and_nearest.csv")
df.head()

In [10]:
#date = list(df['Date'].values)
#operator = list(df["Operator"].values)

text_list=[]
#Also instead of \n you must use html's <br/>
for index, row in df.iterrows():
    text_list.append('Information: <br/>' + 
                     "Date: " + str(row['Date']) + "<br/>" + 
                     "Time: " + str(row['Time']) + "<br/>" +
                     "Operator: " + str(row['Operator']) + "<br/>" +
                     "Flight #: " + str(row['Flight #']) + "<br/>" +
                     "Route: " + str(row['Route']) + "<br/>" +
                     "AC Type: " + str(row['AC Type']) + "<br/>" +
                     "Registration: " + str(row['Registration']) + "<br/>" +
                     "cn/ln: " + str(row['cn/ln']) + "<br/>" +
                     "Aboard: " + str(row['Aboard']) + "<br/>" +
                     "Aboard Passengers: " + str(row['Aboard Passengers']) + "<br/>" +
                     "Aboard Crew: " + str(row['Aboard Crew']) + "<br/>" +
                     "Fatalities: " + str(row['Fatalities']) + "<br/>" +
                     "Fatalities Passengers: " + str(row['Fatalities Passengers']) + "<br/>" +
                     "Fatalities Crew: " + str(row['Fatalities Crew']) + "<br/>" +
                     "Ground: " + str(row['Ground']) + "<br/>" +
                     "Summary: " + str(row['Summary']) + "<br/>" +
                     "Location: " + str(row['Location']) + "<br/>" +
                     "Latitude: " + str(row['Latitude']) + "<br/>" +
                     "Latitude: " + str(row['Latitude']) + "<br/>" +
                     "geometry: " + str(row['geometry']) + "<br/>"
                    )

In [11]:
rating = df["Fatalities"]
locations = df[["Latitude", "Longitude"]]

# Plot Heatmap
fig = gmaps.figure()
figure_layout = {
    'width': '2000px',
    'height': '2000px',
    'border': '1px solid black',
    'padding': '1px'
}
gmaps.figure(layout=figure_layout)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations.dropna()[0:1000], 
                                 weights=rating.dropna()[0:1000], 
                                 dissipating=True, 
                                 max_intensity=df['Fatalities'].max()/2,
                                 point_radius=15,
                                 opacity=0.95)
# Add layer
fig.add_layer(heat_layer)
#markers = gmaps.marker_layer(locations.dropna()[0:5])
#info_box_template = ""
#plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]
marker_layer = gmaps.marker_layer(locations.dropna()[0:50],
                                  info_box_content=text_list[0:50])
# Display figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
planecrash_df = pd.read_csv("./DCC_Data/df_with_country_with nearest.csv")
gdp_df = pd.read_csv("./DCC_Data/gdp_data.csv", engine='python')
#gdp_df['Year'] = gdp_df['Year'].astype('int64')
#gdp_df.astype({'Year':'int64'}).dtypes
#gdp_df['Year'] = gdp_df['Year'].astype(str)
#planecrash_df[planecrash_df['Date'].str.match('2019')];
#planecrash_df['Year'] = planecrash_df.apply(lambda x: float(x['Date'][0:4])     ,axis=1)
planecrash_df['Year'] = planecrash_df.apply(lambda x: x['Date'][0:4]     ,axis=1)
gdp_df['Year'] = gdp_df['Year'].astype(str)
#gdp_df['Year'] = gdp_df.apply(lambda x: x['Year'][0:4]     ,axis=1)
#planecrash_df['Year'] = planecrash_df['Year'].astype(str)
#planecrash_df['Date'] = pd.to_datetime(planecrash_df['Date'])
#planecrash_df['Year'] = planecrash_df['Date'].dt.strftime('%Y')
#planecrash_df['Year'] = planecrash_df['Date'].astype(np.int32)


planecrash_df['GDP'] = 0 #Create and fill new column
for i, row in planecrash_df.iterrows():
    try:
        planecrash_df.loc[i,'GDP'] = gdp_df[(gdp_df["Country"]==row["Country"])  & (gdp_df["Year"]==row["Year"])  ].values[0][-1]

    except:
        planecrash_df.loc[i,'GDP'] = 0
planecrash_df.tail(50)

,Unnamed: 0,Unnamed: 0.1,Date,Time,Operator,Flight #,Route,AC Type,Registration,cn/ln,...,Ground,Summary,Location,Latitude,Longitude,geometry,Percent Survived,Country,Year,GDP
4905,4917,4917,2016-07-30,07:42,Heart of Texas Hot Air Balloon Rides,NaN,Sightseeing Fentress Airpark,Kubicek BB85Z Hot Air Balloon,N2469L,NaN,...,NaN,The hot air balloon struck power lines and cra...,"Lockhart, Texas",29.883210,-97.673629,POINT (29.8832105 -97.67362920000001),100.000000,United States,2016,1.784427e+13
4906,4918,4918,2016-08-05,12:38,Emirates,521,"Thiruvanthapuram, India - Dubai, UAE",Boeing 777-31H,A6-EMW,32700/434,...,1.0,"After being cleared to land, the crew informed...","Dubai, United Arab Emirates",25.075010,55.188761,POINT (25.0750095 55.1887608818332),100.000000,United Arab Emirates,2016,3.927733e+11
4907,4919,4919,2016-08-31,11:00,Hageland Aviiation,3190,\tRussian Mission- Marshall,Cessna 208 Grand Caravan,\tN752RV,208B5088,...,0.0,A midair collision occurred between a Cessna 2...,"Russian Mission, Alaksa",61.786309,-161.364738,POINT (61.786309 -161.364738),100.000000,United States,2016,1.784427e+13
4908,4920,4920,2016-10-24,07:20,AE Aviation,NaN,Malta-Luqa - Malta-Luga,Swearingen SA277-AT Expditer,N577MX,AT-577,...,0.0,"Shortly after taking off, the plane banked to ...",Malta International Airport,35.847393,14.492267,POINT (35.84739320000001 14.4922673564904),100.000000,Malta,2016,1.372503e+10
4909,4921,4921,2016-11-28,22:00,LAMIA Bolivia,2933,"Santa Cruz, Bolivia - Medellin,Colombia",Avro RJ-85,CP-2933,E-2348,...,0.0,The crew of the chartered passenger jet declar...,"La Union, Colombia",5.951616,-75.363597,POINT (5.9516158 -75.3635969971228),92.207792,Colombia,2016,3.822160e+11
4910,4922,4922,2016-12-03,11:22,Indonesian Police,NaN,Pangkal Pinang - Batam Island,M28 Skytruck,P-4201,NaN,...,0.0,The Indonesian police aircraft crashed in the ...,"Tanjung Pinanga, Indonesia",4.640500,96.840700,POINT (4.6405 96.8407),100.000000,Indonesia,2016,1.146845e+12
4911,4923,4923,2016-12-07,16:20,Pakistan International Airlines,661,Chitral - Islamabad,ATR-42-500,AP-BHO,663,...,0.0,"While en route, the crew made a mayday call re...","Havlien, Pakistan",49.974794,14.386725,POINT (49.97479420000001 14.386725),100.000000,Czechia,2016,0.000000e+00
4912,4924,4924,2016-12-18,06:10,Indonesian Air Force,NaN,Timika - Warmera,\tLockheed C-130H Hercules,\tA-1134,4785,...,0.0,The military plane crashed into mountainous te...,"Wamena, Papua, Indonesia",-4.086235,138.937701,POINT (-4.08623515 138.937700912411),100.000000,Indonesia,2016,1.146845e+12
4913,4925,4925,2016-12-20,17:23,Aerosucre Colombia,NaN,Puerto Carreno - Bogota,Boeing 727-2JOF,HK-4544,21105/1158,...,0.0,"After taking off on runway 24, the cargo jet f...","Puerto Carreno, Colombia",6.187971,-67.489467,POINT (6.1879711 -67.48946670000001),83.333333,Colombia,2016,3.822160e+11
4914,4926,4926,2016-12-25,05:27,Russian Air Force,NaN,Chkalovsky AB -Ader - Latakia,Tupolev 154B-2,RA-85572,83A-572,...,0.0,"The plane, carrying the Alexandrov Emsemble ch...","Adar, Russia",44.976470,41.147632,POINT (44.9764703 41.14763185),100.000000,Russia,2016,0.000000e+00
4915,4927,4927,2017-01-16,07:19,My Cargo Airlines (ACT Airlines),6491,Hong Kong - Bishkek - Istanbul,Boeing 747-412F,TC-MCL,32897/1322,...,35.0,"While approaching Bishkek for a fuel stop, the...","Bishkek, Kyrgyzstan",42.876562,74.607008,POINT (42.8765615 74.6070079),100.000000,Kyrgyzstan,2017,0.000000e+00
4916,4928,4928,2017-02-21,09:00,Australian Corporate Jet Centres PTY. LTD,NaN,Melbournen - King Island,Beechcraft B200 Super King Air,VH-ZCR,BB1544,...,0.0,The charter flight was just seconds into it's ...,"Melbourne, Victoria, Australia",-37.814218,144.963161,POINT (-37.81421760000001 144.9631608),100.000000,Australia,2017,0.000000e+00
4917,4929,4929,2017-03-10,11:20,Swan Aviation,NaN,Istanbul - Bozuyuk,Sikorsky S-76C,TC-HEZ,760717,...,0.0,The helicopter crashed on a highway after hitt...,"Istanbul, Turkey",41.009633,28.965165,POINT (41.0096334 28.9651646),100.000000,Turkey,2017,0.000000e+00
4918,4930,4930,2017-03-27,08:15,ETA Air Charter,NaN,"Beira, Mozambique - Harare, Zimbabwe",Britten-Norman BN2 Islander,C9-AOV,024,...,0.0,While en route the air transport plane collide...,"Mutare, Zimbabwe",-19.245554,32.437092,POINT (-19.24555365 32.4370922669523),100.000000,Zimbabwe,2017,0.000000e+00
4919,4931,4931,2017-05-05,06:53,Air Cargo Carriers,NaN,Louisville - Charleston,Shorts 300-200,N334AC,SH-3029,...,0.0,The cargo plane was destroyed when it crashed ...,"Charleston, West Virginia",38.350600,-81.633281,POINT (38.3505995 -81.6332812),100.000000,United States,2017,0.000000e+00
4920,4932,4932,2017-05-27,14:02,Summit Air,409,NaN,Let L-410UVP-E20,9N-AKY,2917,...,0.0,The cargo plane crashed short of the runway th...,"Tenzing, Nepal",27.686512,86.728971,POINT (27.6865118 86.72897062499879),66.666667,Nepal,2017,0.000000e+00
4921,4933,4933,2017-06-07,13:35,Military - Myanmar Air Force,NaN,Myeik - Yangon,Shaanxi Y-8F-200W,5820,NaN,...,0.0,The transport plane carrying military personne...,"Dawei, Myanmar",14.079723,98.199019,POINT (14.0797232 98.1990191),100.000000,Myanmar (Burma),2017,0.000000e+00
4922,4934,4934,2017-06-28,10:15,Angel Flight,NaN,Suttontown - Adelaide,Socata TB1-10 Tobago,VH-YTM,1518,...,0.0,The medical flight crashed 3 km south of Mount...,"Mount Gambier, South Australia",-37.824670,140.782007,POINT (-37.8246698 140.782006762411),100.000000,Australia,2017,0.000000e+00
4923,4935,4935,2017-07-10,16:00,USMC,NaN,"Cherry Point, NC - El Centro, CA",Lockheed KC-130T Hercules,165000,382-5303,...,0.0,"While en route, the Marine Corps transport suf...","Itta Bena, Mississipi",33.495120,-90.319807,POINT (33.49512 -90.3198067),100.000000,United States,2017,0.000000e+00
4924,4936,4936,2017-09-30,07:30,Air Force of the Democratic Republic of the Congo,NaN,"Kinshasa, - Bunia",Antonov An-12B,EX-001,5343606,...,0.0,The aircraft departed Kinshasa and crashed abo...,"Kinshasa, Congo",-4.366422,15.258590,POINT (-4.36642155 15.2585900853967),100.000000,Democratic Republic of the Congo,2017,0.000000e+00
4925,4937,4937,2017-10-12,17:15,Guicango,NaN,Dundo - Luanda,Embraer EMB-120ER,D2-FDO,120082,...,0.0,The air ambulance crashed en route shortly aft...,"Cuílo, Angola",-6.805549,15.691840,POINT (-6.8055485 15.6918402),100.000000,Angola,2017,0.000000e+00
4926,4938,4938,2017-10-14,08:30,Valan International Cargo Charter,NaN,Burkina Faso - Abidjan,Antonov AN-26-100,ER-AVB,3204,...,0.0,"The cargo plane, carrying French military carg...","Abidjan, Ivory Coast",5.320357,-4.016107,POINT (5.320357 -4.016107),40.000000,Côte d'Ivoire,2017,0.000000e+00
4927,4939,4939,2017-11-15,08:00,Costal Aviation,NaN,Arusha - Serengeti,Cessna 208B Grand Caravan,5H-EGG,208B-0476,...,0.0,The chartered Cessna was flying tourists from ...,"Empakaai, Tanzania",-2.909191,35.827946,POINT (-2.9091907 35.8279461309893),100.000000,Tanzania,2017,0.000000e+00
4928,4940,4940,2017-12-13,18:15,West Wind Aviation,NaN,Fond-du-Lac - Stony Rapids,ATR42-320,C-GWEA,240,...,0.0,"Shortly after taking off, the aircraft lost al...","Fond-du-Lac, Saskatchewan",59.328286,-107.189484,POINT (59.328286 -107.189484),4.000000,Canada,2017,0.000000e+00
4929,4941,4941,2017-12-31,12:16,Naure Air,NaN,Punta Islita - San Jose,Cessna 208B Grand Caravan,TI-BEI,208B-0900,...,0.0,The passenger plane crashed 10 minutes after t...,"Punta Islita, Costa Rica",9.855870,-85.371364,POINT (9.8558699 -85.37136426070219),100.000000,Costa Rica,2017,0.000000e+00
4930,4942,4942,2018-01-29,NaN,People's Liberation Army Air Force,NaN,Training,Shaanxi Y-8GX-3,30513,NaN,...,0.0,"While completing a training mission, the airpl...","Zhengchang, Suiyang County, Guizhou Province",27.888595,107.253017,POINT (27.8885948 107.2530168),100.000000,China,2018,0.000000e+00
4931,4943,4943,2018-02-10,17:31,Papillon,NaN,Sightseeing,Eurocopter EC 130B4,N155GC,7091,...,0.0,The helicopter was observed making strange man...,"Grand Canyon, Arizona",36.096560,-112.098494,POINT (36.0965604 -112.0984941),42.857143,United States,2018,0.000000e+00
4932,4944,4944,2018-02-11,14:31,Saratov Airlines,703,Moscow - Orsk,Antonov AN-148-100,RA-61704,27015040004,...,0.0,The regional airliner took off from Moscow at ...,"Argunovo, Russia",55.285088,38.395903,POINT (55.285088 38.3959035),100.000000,Russia,2018,0.000000e+00
4933,4945,4945,2018-02-18,09:32,Iran Aseman Airlines,EP3704,Tehran - Yasuj,ATR 72-212,EP-ATS,391,...,0.0,The airliner was on approach to Yasuj Airport ...,"Kohangan village, Iran",36.344391,46.210106,POINT (36.34439099999999 46.210106),100.000000,Iran,2018,0.000000e+00
4934,4946,4946,2018-03-06,14:51,Military - Russian Air Force,NaN,Kuweires Air Base - Latakia-Khmeimim Air Base,Antonov An-26,RF-92955/52,10107,...,0.0,While on approach to Latakia-Khmeimim Air Base...,"Latakia, Syria",35.520018,35.778104,POINT (35.5200185 35.7781044),100.000000,Syria,2018,0.000000e+00
4935,4947,4947,2018-03-11,19:08,Liberty Helicopters,NaN,Sightseeing,Eurocopter AS 350B2,N350LH,7654,...,0.0,The sightseeing helicopter suddenly lost power...,"New York, New York",40.712728,-74.006015,POINT (40.7127281 -74.00601519999999),83.333333,United States,2018,0.000000e+00
4936,4948,4948,2018-03-12,14:15,US-Bangla Airlines,221,Dhaka - Kathmandu,de Havilland Canada DHC-8-402Q Dash 8,S2-AGU,BS4041,...,0.0,"After getting clearance to land, the aircraft ...","Kathmandu, Nepal",27.708317,85.320582,POINT (27.708317 85.32058170000001),71.830986,Nepal,2018,0.000000e+00
4937,4949,4949,2018-04-11,08:00,Military - Algerian Air Force,NaN,Boufarik AB - Bechar - Tindouf,Ilyushin 76-TD,7T-WIP,1043419636,...,0.0,The Algerian military plane crashed soon after...,"Boufarik AB, Algeria",36.575552,2.912896,POINT (36.5755523 2.9128963),100.000000,Algeria,2018,0.000000e+00
4938,4950,4950,2018-04-17,10:04,Southwest Airlines,1380,New York - Dallas,Boeing 737-7H4,N722SW,27880/601,...,0.0,"While climbing to FL320, the No. 1 engine suff...","NW of Philadelphia, Pennsylvania",39.871362,-75.240943,POINT (39.8713625 -75.2409432),0.671141,United States,2018,0.000000e+00
4939,4951,4951,2018-05-02,11:30,Military - US Air Force,NaN,Savannah - Tuscon,Lockheed HC-130H Hercules,65-0968,382-4110,...,0.0,A Porto Rico Air National Guard plane crashed ...,"Port Wentworth, Georgia",32.149092,-81.163168,POINT (32.149092 -81.16316809999999),100.000000,United States,2018,0.000000e+00
4940,4952,4952,2018-05-18,12:08,Cubana (leased from Global Air),972,Havana- Holguin,Boeing 737-201,XA-UHZ,21816/592,...,0.0,After taking off from runway 06 at Havana-José...,"Havana, Cuba",23.135305,-82.358963,POINT (23.135305 -82.3589631),99.115044,Cuba,2018,0.000000e+00
4941,4953,4953,2018-07-10,07:44,Rovos Air,NaN,Test Flight,Convair CV-340,ZS-BRV,215,...,1.0,"Shortly after takeoff from runway 29, the left...","Pretoria, South Africa",-25.745937,28.187944,POINT (-25.7459374 28.1879444),5.263158,South Africa,2018,0.000000e+00
4942,4954,4954,2018-08-04,16:55,Ju Air,NaN,Locorno - Dubendorf,Junkers JU-52,HB-HOT,6595,...,1.0,The vintage aircraft crashed onto Piz Segnas m...,"Flims, Switzerland",46.833244,9.283456,POINT (46.8332439 9.283455699999999),100.000000,Switzerland,2018,0.000000e+00
4943,4955,4955,2018-09-28,10:10,Air Niugini,NaN,Pohnpei - Chuuk,Boeing 737-8BK,P2-PXE,33024/1688,...,0.0,The aircraft was approaching for a landing at ...,"Chuuk, Micronesia",7.439379,151.851554,POINT (7.439379300000001 151.8515538),2.127660,Federated States of Micronesia,2018,0.000000e+00
4944,4956,4956,2018-10-29,06:31,Lion Air,610,Jakarta - Pangkal Pinang,Boeing 737-MAX 8,PK-LQP,43000/7058,...,0.0,"The airliner crashed into the Jakarta Sea, 13 ...","Jakarta, Indonesia",-6.175394,106.827183,POINT (-6.1753942 106.827183),100.000000,Indonesia,2018,0.000000e+00
4945,4957,4957,2018-11-06,02:53,Fly Jamaica Airways,NaN,Georgetown - Toronto,Boeing 757-N23,N524AT,30233/895,...,0.0,"After taking off and reaching FL200, the crew ...","Georgetown, Guyana",6.802577,-58.162861,POINT (6.8025766 -58.16286120000001),0.781250,Guyana,2018,0.000000e+00
4946,4958,4958,2019-01-14,08:30,Saha Air,NaN,Bishkek - Payam,Boeing 707-3J9C,EP-CPP,21128/917,...,0.0,The cargo plane was operated by the Iranian Ai...,"Karaj, Iran",35.822896,50.958764,POINT (35.8228964 50.9587643088961),93.750000,Iran,2019,0.000000e+00
4947,4959,4959,2019-02-23,12:45,Atlas Air serving Amazon,3591,Miami - Houston,Boeing 767-375ER,N1217A,25865,...,0.0,ATC lost radar contact with the cargo jet when...,"Houston, Texas",29.758938,-95.367697,POINT (29.7589382 -95.36769740000001),100.000000,United States,2019,0.000000e+00
4948,4960,4960,2019-03-09,10:40,Laser Aereo Colombia,NaN,San Jose - Villavicencio,Douglas DC-3,HK-2494,:33105/16357,...,0.0,"While on approach to land, the crew contacted ...","Vereda La Bendicion, Colombia",7.970492,-72.529359,POINT (7.970492299999999 -72.5293592),100.000000,Colombia,2019,0.000000e+00
4949,4961,4961,2019-03-10,08:44,Ethiopian Airlines,302,Addis Ababa - Nairobi,Boeing 737 Max 8,ET-AVJ,63450/7243,...,0.0,The internationally scheduled airliner crashed...,"Bishoftu, Ethiopia",8.750004,38.981734,POINT (8.750003999999999 38.981734),100.000000,Ethiopia,2019,0.000000e+00
4950,4962,4962,2019-04-16,11:00,Archipelagos Service Aereos,NaN,Puerto Montt - Ayacara,Pilatus-Britten Norman BN-2B-27 Islander,CC-CYR,2169,...,0.0,"While the aircraft was in the initial climb, p...","Puerto Montt, Chile",-41.471812,-72.939621,POINT (-41.4718121 -72.939621),100.000000,Chile,2019,0.000000e+00
4951,4963,4963,2019-05-05,18:30,TVPX Aircraft Solutions,NaN,Las Vegas - Monterrey,Canadair CL-600-2B16-Challenger,N601VH,5043,...,0.0,The aircraft crashed while en route on a retur...,"Monclava, Mexico",-33.961279,18.656969,POINT (-33.9612794 18.6569689),100.000000,South Africa,2019,0.000000e+00
4952,4964,4964,2019-05-05,18:30,Aeroflot Russian International Airlines,NaN,Moscow - Murmansk,Sukhoi Superjet-100-95B,RA-89098,95135,...,0.0,Forty-five minutes after taking off from Mosco...,"Moscow, Russia",55.750446,37.617494,POINT (55.7504461 37.6174943),52.564103,Russia,2019,0.000000e+00
4953,4965,4965,2019-06-03,13:00,Military - Indian Air Force,NaN,Jorhat-Rowriah - Mechuka,Antonov An-32,K2752,1009,...,0.0,Crashed about 34km WNW of Mechuka.,"Lipo, India",4.174020,32.834960,POINT (4.17402 32.83496),100.000000,South Sudan,2019,0.000000e+00
4954,4966,4966,2019-07-30,02:00,Military - Pakistan Army,NaN,Training,Beechcraft B300 King Air,766,B766,...,14.0,"The Pakistani military plane, on a training fl...","Rawalpindi, India",30.929230,74.621281,POINT (30.9292303 74.6212807),100.000000,India,2019,0.000000e+00

In [26]:
planecrash_df = planecrash_df.dropna(subset=['Operator','Route'])
planecrash_df = planecrash_df[~planecrash_df['Operator'].str.contains('Military',case=False)]
planecrash_df = planecrash_df[planecrash_df['Route'].str.contains(' - ',case=False)]

planecrash_df.head(50)

,Unnamed: 0,Unnamed: 0.1,Date,Time,Operator,Flight #,Route,AC Type,Registration,cn/ln,...,Ground,Summary,Location,Latitude,Longitude,geometry,Percent Survived,Country,Year,GDP
32,32,32,1919-12-11,NaN,Aircraft Travel Transport,NaN,Paris - Hounslow,de Havilland DH-4,G-EAHF,NaN,...,0.0,Crashed in a field while attemptting to land.,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),100.000000,United Kingdom,1919,0.0
34,34,34,1920-03-30,NaN,US Aerial Mail Service,NaN,Washington - Newark,De Havilland DH-4,72,NaN,...,0.0,George Sherlock was killed when his mail plane...,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),100.000000,United States,1920,0.0
49,49,49,1920-12-14,12:15,Handley Page Transport,NaN,London - Paris,Handley Page HP-16,G-EAMA,HP-25,...,0.0,The plane failed to gain altitude after taking...,"London, England",51.507322,-0.127647,POINT (51.5073219 -0.1276474),50.000000,United Kingdom,1920,0.0
61,61,61,1921-09-06,NaN,Franco-Roumaine,NaN,Warsaw - Prague - Strasbourg - Paris,Potez IX,F-ADCD,160,...,0.0,Crashed while making an approach to Le Bourget...,"Paris, France",48.856697,2.351462,POINT (48.8566969 2.3514616),100.000000,France,1921,0.0
62,62,62,1921-12-05,NaN,West Australian Airways,NaN,Geraldton - Derby,Bristol 28 Tourer,G-AUDI,6116,...,0.0,On approach to Geraldton the plane crashed nea...,"Murchinson River, Australia",-36.615389,145.238244,POINT (-36.6153889 145.2382442),100.000000,Australia,1921,0.0
65,65,65,1922-03-22,11:40,Aero Limited,NaN,Miami - Bimini,Aeromarine Model 85 (flying boat),NaN,NaN,...,0.0,The plane ditched into the ocean about 40 mile...,North Atlantic Ocean,40.000000,-40.000000,POINT (40 -40),83.333333,NaN,1922,0.0
66,66,66,1922-04-07,13:15,Daimler Airways / Grands Express Aeriens,NaN,Croydon - Le Bourget,de Havilland DH-18 / Farman F-60 Goliath,G-EAOW/FGEAD,4,...,0.0,A midair collision occurred at 400 ft. in poor...,"Grandvilliers, France",49.664777,1.942828,POINT (49.6647765 1.9428278),100.000000,France,1922,0.0
68,68,68,1922-06-03,NaN,Cie des Messageries Aeriennes,NaN,Croydon - Paris,Bleriot Spad 27,F-ACMH,555,...,0.0,Went down into the English Channel while en ro...,"Folkestone, Kent, England",51.079134,1.179407,POINT (51.07913350000001 1.1794073),100.000000,United Kingdom,1922,0.0
70,70,70,1922-07-16,16:45,Compagnie Franco-Roumaine de Navigaation Aerienne,NaN,Strasbourg - Paris,Potez 29,F-FREI,25,...,0.0,Lost an engine and could not make an emergency...,"Saverne, Lorraine, France",48.741991,7.362595,POINT (48.7419909 7.3625953),100.000000,France,1922,0.0
73,73,73,1922-10-02,NaN,de Havilland Air Service,NaN,Venice - London,de Havilland DH-9,G-EAYT,14,...,0.0,Shortly after taking off the plane crashed int...,"Venice, Italy",45.437191,12.334590,POINT (45.4371908 12.3345898),100.000000,Italy,1922,0.0
75,75,75,1922-12-03,NaN,Grands Express Aeriens,NaN,Toulouse - Barcelona - Valencia - Alicante - M...,Breguet 14,F-ALNA,14,...,0.0,While flying in foggy conditions the pilot red...,"Fez, Morocco",34.034653,-5.016193,POINT (34.0346534 -5.0161926),100.000000,Morocco,1922,0.0
80,80,80,1923-05-14,13:42,Grands Express Aeriens (Air Union),NaN,Paris - London,Farman F-60 Goliath,F-AEBY,15,...,0.0,Broke-up in mid air after suffering structural...,"Amiens, Picrdie, France",49.899796,2.216300,POINT (49.899796 2.2163),100.000000,France,1923,0.0
81,81,81,1923-08-27,17:30,Air Union,NaN,Paris - Berck-sur-Mer - Croydon,Farman F.60 Goliath,F-AECB,4,...,0.0,The aircraft lost an engine about 45 minutes i...,"East Mallling, United Kingdom",51.188191,-2.225989,POINT (51.188191 -2.225989),9.090909,United Kingdom,1923,0.0
84,84,84,1923-09-14,18:00,Daimler Airways,NaN,Croydon - Manchester,de Havilland DH-34,G-EBBS,29,...,0.0,Crashed while attempting a forced landing afte...,"Ivinghoe, Buckinghamshire, England",51.836403,-0.629889,POINT (51.8364034 -0.6298887),100.000000,United Kingdom,1923,0.0
90,90,90,1924-04-24,NaN,KLM Royal Dutch Airlines,NaN,"Lympne, England - Rotterdam, The Netherlands",Fokker F.III,H-NABS,1535,...,0.0,The aircraft disappeared over the North Sea. T...,the English Channel,50.134487,-1.913821,POINT (50.1344865 -1.9138205),100.000000,La Hague,1924,0.0
91,91,91,1924-06-08,NaN,SCADTA,NaN,Barranquilla - Bogota,Junkers F-13,A16,684,...,0.0,Stalled after taking off and crashed into hous...,"Barranquilla, Colombia",10.979967,-74.801308,POINT (10.9799669 -74.80130849999998),100.000000,Colombia,1924,0.0
95,95,95,1924-12-24,12:00,Imperial Airways,NaN,London - Paris,de Havilland DH-34B,G-EBBX,36,...,0.0,"Shortly after taking off, witnesses observed a...","Purley, England",51.338516,-0.115893,POINT (51.3385156 -0.115893),100.000000,United Kingdom,1924,0.0
96,96,96,1925-03-22,NaN,Zakavia,NaN,Tiflis - Suchumi,Junkers F-13,R-RECA,590,...,0.0,Shortly after take off the plane went out of c...,"Tiflis, Georgia, USSR",41.640226,42.994420,POINT (41.640226 42.99442),100.000000,Georgia,1925,0.0
97,97,97,1925-04-25,NaN,Grands Express Aeriens,NaN,Alicante - Barcelona - Toulouse,Breguet 14,F-AFBB,202,...,0.0,"Shortly after takeoff, while flying at a low a...","Alicante, Spain",38.353738,-0.490185,POINT (38.353738 -0.4901846),100.000000,Spain,1925,0.0
98,98,98,1925-06-25,NaN,KLM Royal Dutch Airlines,NaN,Amsterdam - Paris,Fokker (KLM) F.III,H-NABM,1502,...,0.0,"While in a turn in bad weather, the right wing...","Landrécies, France",50.125014,3.691302,POINT (50.1250142 3.6913023),100.000000,France,1925,0.0
99,99,99,1925-06-26,NaN,Grands Express Aeriens,NaN,Oran - Alicante,Lioré-et-Olivier LeO H-13,F-FREM,NaN,...,0.0,While attempting to land the seaplane hit a li...,"Alicante, Spain",38.353738,-0.490185,POINT (38.353738 -0.4901846),100.000000,Spain,1925,0.0
100,100,100,1925-07-20,NaN,Lignes Aeriennes Latecoere,NaN,Toulouse - Barcelona,Breguet 14,F-AFBI,209,...,0.0,Crashed in unknown circumstance.,"Rosas, Spain",42.263202,3.175533,POINT (42.2632018 3.1755328),100.000000,Spain,1925,0.0
103,104,104,1925-10-01,NaN,US Aerial Mail Service,NaN,New York - San Francisco,De Havilland DH-4,385,NaN,...,0.0,Crashed into a wooded area on Mt. Nittany in f...,"Mt. Nittany, Ohio",39.755359,-84.290657,POINT (39.75535900000001 -84.290657),100.000000,United States,1925,0.0
108,109,109,1926-05-31,NaN,Air Union,NaN,Paris - Cryodon,Breguet 14,F-ADAI,1908,...,0.0,The mail plane crashed into the English Channe...,English Channel,50.134487,-1.913821,POINT (50.1344865 -1.9138205),100.000000,La Hague,1926,0.0
109,110,110,1926-07-03,NaN,Compagnie Internationale de Navigation Aérienne,NaN,Paris - Prague - Budapest,Caudron C-61,F-AFBT,5307,...,0.0,Crashed while en route into a mountain in adve...,Slovakia,48.741152,19.452865,POINT (48.74115220000001 19.4528646),100.000000,Slovakia,1926,0.0
110,111,111,1926-07-09,09:30,KLM Royal Dutch Airlines,NaN,Amsterdam - Rotterdam - Brussels - Paris,Fokker F7,H-NACC,4759,...,0.0,Crashed into the ground while descending in po...,"Wolvertem, Belgium",50.963331,4.293163,POINT (50.96333145 4.2931627906237),100.000000,Belgium,1926,0.0
112,113,113,1926-08-18,NaN,Air Union,NaN,"Lebourget, France - Croydon, England",Bleriot 155,F-AIEB,2,...,0.0,The plane made a forced landing at Romney Mars...,"Hurst, Kent, England",51.252689,0.335386,POINT (51.25268939999999 0.3353857),20.000000,United Kingdom,1926,0.0
114,115,115,1926-10-02,15:27,Air Union,NaN,Paris - London,Bleriot 155,F- AICQ,1,...,0.0,"After an engine fire, the pilot attempts to ma...","Leigh, Kent, Unied Kingdom",53.495180,-2.517835,POINT (53.49518000000001 -2.517835),100.000000,United Kingdom,1926,0.0
116,117,117,1926-10-21,13:15,Imperial Airways,NaN,Croydon - Paris,Handley Page W-10,G-EBMS,W10/3,...,0.0,The plane was on a flight from London to Paris...,English Channel,50.134487,-1.913821,POINT (50.1344865 -1.9138205),100.000000,La Hague,1926,0.0
120,121,121,1927-03-20,NaN,Grands Express Aeriens,NaN,Casablanca - Oran,Breguet 14,F-ALRA,NaN,...,0.0,Unknown.,"Rabat, Morocco",34.022405,-6.834543,POINT (34.022405 -6.834542999999999),100.000000,Morocco,1927,0.0
121,122,122,1927-03-24,NaN,Qantas,NaN,Charleville - Tambo - Blackall,de Havilland DH-9C,G-AUED,86,...,0.0,"While attempting to land, the engine failed, t...","Tambo, Qld, Australia",-24.883065,146.253257,POINT (-24.8830649 146.2532573),100.000000,Australia,1927,0.0
123,124,124,1927-04-22,NaN,Deutsche Lufthansa,NaN,Charleville - Tambo - Blackall,Fokker FG III,D-729,1567,...,0.0,Crashed following engine failure.,"Floh, Germany",50.756810,10.473030,POINT (50.7568104 10.4730297),100.000000,Germany,1927,0.0
126,127,127,1927-07-27,NaN,Deutsche Lufthansa,NaN,Kassel - Frankfurt,Junkers F-13,D-206,591,...,0.0,Crashed after experiencing engine failure and ...,"Amoneburg, Germany",50.799465,8.941292,POINT (50.79946485 8.941291794880501),100.000000,Germany,1927,0.0
127,128,128,1927-08-22,08:30,KLM Royal Dutch Airlines,NaN,Croydon - Schiphol,Fokker F-VIII,H-NADU H-NADU,4993,...,0.0,A broken wire led to the partial loss of the t...,"Sevenoaks, England",51.274522,0.196117,POINT (51.27452185 0.1961165562194981),9.090909,United Kingdom,1927,0.0
130,131,131,1927-09-17,04:05,Private,NaN,Old Orchad Beach - Rome,Fokker F7,NX703,4899/0501,...,0.0,"While flying 1,000 km east of the Canadian coa...",Atlantic Ocean,13.581921,-38.320312,POINT (13.581921 -38.320312),100.000000,NaN,1927,0.0
131,132,132,1927-09-23,10:00,Deutsche Lufthansa,NaN,Berlin - Munich,Dornier Merkur,D-585,075,...,0.0,From an altitude of 500 ft. the plane went out...,"Schleiz, Germany",50.559050,11.804001,POINT (50.5590505 11.8040013),100.000000,Germany,1927,0.0
132,133,133,1927-10-06,NaN,Lignes Aeriennes Latecoere,NaN,Saint Louis - Dakar,Breguet 14,F-AGBN,229,...,0.0,The plane crashed while attempting to land at ...,"Thies, Mauritania",14.834170,-17.106110,POINT (14.83417 -17.10611),100.000000,Senegal,1927,0.0
134,135,135,1927-11-08,NaN,CIDNA,NaN,Strasbourg - Paris,Farman F-121 Jabiru,F-AIBR,1,...,0.0,The mail plane crashed shortly after taking off.,"Strasburg, France",48.584614,7.750713,POINT (48.584614 7.750712700000001),100.000000,France,1927,0.0
135,136,136,1927-11-16,NaN,Aero O-Y,NaN,Tallinn - Helsinki,Junkers F-13,K-SALD,798,...,0.0,Crashed in the gulf of Finland and never found.,the Gulf of Finland,59.873733,26.314445,POINT (59.87373345 26.3144452569276),100.000000,NaN,1927,0.0
137,138,138,1927-12-28,NaN,Aeropostale,NaN,Dakar - Casablanca - Alicante - Perpignan - To...,Breguet 14,F-AFGS,227,...,0.0,A fire erupted aboard the mail plane while en ...,"Almeria, Spain",36.841420,-2.462813,POINT (36.8414197 -2.4628135),100.000000,Spain,1927,0.0
139,140,140,1928-01-08,NaN,Colonial Western Airlines,NaN,Minola - Albany - Buffalo,Fairchild FC-2,NC3780,39,...,0.0,Became lost in dense fog and flew into trees i...,"Canajoharie, New York",42.905629,-74.571807,POINT (42.9056288 -74.5718073),100.000000,United States,1928,0.0
140,141,141,1928-01-16,NaN,Aeropostale,F-AIKG,Buenos Aires - Montevideo,Latecoere 25,F-AIKG,633,...,0.0,The wing on the mail plane detached from the a...,"Solis, Uruguay",-34.792373,-55.383716,POINT (-34.79237329999999 -55.38371609999999),100.000000,Uruguay,1928,0.0
141,142,142,1928-01-22,NaN,Aeropostale,NaN,Toulouse - Perpignan - Alicante - Casablanca -...,Breguet 14,F-AHEQ,NaN,...,0.0,Crashed after experiencing mechanical difficul...,"L'Hospitalet, Ariège",43.229743,1.713803,POINT (43.2297425 1.7138034),100.000000,France,1928,0.0
142,143,143,1928-01-22,NaN,Aeropostale,NaN,Casablanca - Alicante - Perpignan - Toulouse,Breguet 14,F-AHEQ,240,...,0.0,Crashed in unknown circumstances.,"Tarragona, Spain",41.117236,1.254606,POINT (41.1172364 1.2546057),100.000000,Spain,1928,0.0
143,144,144,1928-01-27,NaN,Aeropostale,NaN,Casablanca - Alicante - Perpignan - Toulouse,Breguet 14,F-AFHN,162,...,0.0,After experiencing turbulence the pilot's seat...,"Almeria, Spain",36.841420,-2.462813,POINT (36.8414197 -2.4628135),100.000000,Spain,1928,0.0
145,146,146,1928-03-11,NaN,Air Union,NaN,Paris - Croydon,Farman F-60 Goliath,F-AEFC,62/6943,...,0.0,Crashed into the sea while delivering mail in ...,"Cape Griz Nez, France",41.893530,-8.762530,POINT (41.89353 -8.76253),100.000000,Portugal,1928,0.0
147,148,148,1928-04-19,NaN,Iberia Airlines,NaN,Barcelona - Madrid,Rohrbach Roland,M-CCCC,36,...,0.0,Crashed into a field after getting lost in fog.,"Minuesa, Spain",39.690325,-4.427360,POINT (39.6903253 -4.427360299999999),100.000000,Spain,1928,0.0
149,150,150,1928-05-12,NaN,Ford Air Freight Inc.,NaN,Dearborn - Buffalo,Ford 4,NC1492,4-AT-001,...,0.0,The cargo plane crashed on it’s inaugural flig...,"Dearborn, Minnesota",44.920036,-93.390648,POINT (44.920036 -93.390648),100.000000,United States,1928,0.0
150,151,151,1928-05-26,NaN,Deutsche Lufthansa,NaN,Essen - Dortmund - Frankfurt,Junkers F-13,D-583,742,...,0.0,"After taking off and encountering fog, the pil...","Radevormwald, Germany",51.202923,7.357139,POINT (51.2029228 7.357139200000002),60.000000,Germany,1928,0.0
152,153,153,1928-06-22,NaN,National Air Transport,NaN,Chicago - Dallas,Douglas M-4,NC1059,628,...,0.0,The mail plane flew into tornado like winds an...,"Lebo, Kansas",38.416682,-95.853044,POINT (38.4166818 -95.85304410000001),100.000000,United States,1928,0.0

In [27]:
planecrash_df['Departure'] = planecrash_df.apply(lambda x: x['Route'].split(' - ')[0], axis=1)
planecrash_df.head(10);

,Unnamed: 0,Unnamed: 0.1,Date,Time,Operator,Flight #,Route,AC Type,Registration,cn/ln,...,Summary,Location,Latitude,Longitude,geometry,Percent Survived,Country,Year,GDP,Departure
32,32,32,1919-12-11,NaN,Aircraft Travel Transport,NaN,Paris - Hounslow,de Havilland DH-4,G-EAHF,NaN,...,Crashed in a field while attemptting to land.,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),100.000000,United Kingdom,1919,0.0,Paris
34,34,34,1920-03-30,NaN,US Aerial Mail Service,NaN,Washington - Newark,De Havilland DH-4,72,NaN,...,George Sherlock was killed when his mail plane...,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),100.000000,United States,1920,0.0,Washington
49,49,49,1920-12-14,12:15,Handley Page Transport,NaN,London - Paris,Handley Page HP-16,G-EAMA,HP-25,...,The plane failed to gain altitude after taking...,"London, England",51.507322,-0.127647,POINT (51.5073219 -0.1276474),50.000000,United Kingdom,1920,0.0,London
61,61,61,1921-09-06,NaN,Franco-Roumaine,NaN,Warsaw - Prague - Strasbourg - Paris,Potez IX,F-ADCD,160,...,Crashed while making an approach to Le Bourget...,"Paris, France",48.856697,2.351462,POINT (48.8566969 2.3514616),100.000000,France,1921,0.0,Warsaw
62,62,62,1921-12-05,NaN,West Australian Airways,NaN,Geraldton - Derby,Bristol 28 Tourer,G-AUDI,6116,...,On approach to Geraldton the plane crashed nea...,"Murchinson River, Australia",-36.615389,145.238244,POINT (-36.6153889 145.2382442),100.000000,Australia,1921,0.0,Geraldton
65,65,65,1922-03-22,11:40,Aero Limited,NaN,Miami - Bimini,Aeromarine Model 85 (flying boat),NaN,NaN,...,The plane ditched into the ocean about 40 mile...,North Atlantic Ocean,40.000000,-40.000000,POINT (40 -40),83.333333,NaN,1922,0.0,Miami
66,66,66,1922-04-07,13:15,Daimler Airways / Grands Express Aeriens,NaN,Croydon - Le Bourget,de Havilland DH-18 / Farman F-60 Goliath,G-EAOW/FGEAD,4,...,A midair collision occurred at 400 ft. in poor...,"Grandvilliers, France",49.664777,1.942828,POINT (49.6647765 1.9428278),100.000000,France,1922,0.0,Croydon
68,68,68,1922-06-03,NaN,Cie des Messageries Aeriennes,NaN,Croydon - Paris,Bleriot Spad 27,F-ACMH,555,...,Went down into the English Channel while en ro...,"Folkestone, Kent, England",51.079134,1.179407,POINT (51.07913350000001 1.1794073),100.000000,United Kingdom,1922,0.0,Croydon
70,70,70,1922-07-16,16:45,Compagnie Franco-Roumaine de Navigaation Aerienne,NaN,Strasbourg - Paris,Potez 29,F-FREI,25,...,Lost an engine and could not make an emergency...,"Saverne, Lorraine, France",48.741991,7.362595,POINT (48.7419909 7.3625953),100.000000,France,1922,0.0,Strasbourg
73,73,73,1922-10-02,NaN,de Havilland Air Service,NaN,Venice - London,de Havilland DH-9,G-EAYT,14,...,Shortly after taking off the plane crashed int...,"Venice, Italy",45.437191,12.334590,POINT (45.4371908 12.3345898),100.000000,Italy,1922,0.0,Venice

In [28]:
def city(row):#https://stackoverflow.com/questions/20169467/how-to-convert-from-longitude-and-latitude-to-country-or-city
    params = {
        "key": gkey,
        "input": row['Departure'],
        "inputtype":"textquery"
         }
    base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
    response = requests.get(base_url, params=params).json()
    #print(requests.get(base_url, params=params).url) 
    try:
        place_id = response['candidates'][0]['place_id']
        #https://developers.google.com/places/web-service/details 
    except:
        place_id = ''
        
    params = {
        "key": gkey,
        "place_id": place_id
         }
    
    base_url = "https://maps.googleapis.com/maps/api/place/details/json?"
    response = requests.get(base_url, params=params).json()
    #print(requests.get(base_url, params=params).url)
    try:
        lat = response['result']['geometry']['location']['lat']
        lng = response['result']['geometry']['location']['lng']
    except:
        lat = ''
        lng = ''
    return(lat,lng)

In [29]:
test_df = planecrash_df.head()

In [30]:
planecrash_df['Departure Lat,Lng'] = planecrash_df.apply(city, axis=1)

In [31]:
#planecrash_df.to_csv('./df_departures.csv')

In [71]:
df = pd.read_csv('./df_departures.csv')

In [73]:
#df = df.replace(',','NA', regex=True)
df = df[~df['Departure Lat,Lng'].str.contains("('', '')")]
df.head(60)

/Users/davidcoy/anaconda3/lib/python3.8/site-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Date,Time,Operator,Flight #,Route,AC Type,Registration,...,Location,Latitude,Longitude,geometry,Percent Survived,Country,Year,GDP,Departure,"Departure Lat,Lng"
0,32,32,32,1919-12-11,NaN,Aircraft Travel Transport,NaN,Paris - Hounslow,de Havilland DH-4,G-EAHF,...,"Catherham, Surrey, UK",51.253434,-0.474562,POINT (51.25343400000001 -0.474562),100.000000,United Kingdom,1919,0.0,Paris,"(48.856614, 2.3522219)"
1,34,34,34,1920-03-30,NaN,US Aerial Mail Service,NaN,Washington - Newark,De Havilland DH-4,72,...,"Newark, New Jersey",40.735657,-74.172367,POINT (40.735657 -74.1723667),100.000000,United States,1920,0.0,Washington,"(47.7510741, -120.7401386)"
2,49,49,49,1920-12-14,12:15,Handley Page Transport,NaN,London - Paris,Handley Page HP-16,G-EAMA,...,"London, England",51.507322,-0.127647,POINT (51.5073219 -0.1276474),50.000000,United Kingdom,1920,0.0,London,"(51.5073509, -0.1277583)"
3,61,61,61,1921-09-06,NaN,Franco-Roumaine,NaN,Warsaw - Prague - Strasbourg - Paris,Potez IX,F-ADCD,...,"Paris, France",48.856697,2.351462,POINT (48.8566969 2.3514616),100.000000,France,1921,0.0,Warsaw,"(52.2296756, 21.0122287)"
4,62,62,62,1921-12-05,NaN,West Australian Airways,NaN,Geraldton - Derby,Bristol 28 Tourer,G-AUDI,...,"Murchinson River, Australia",-36.615389,145.238244,POINT (-36.6153889 145.2382442),100.000000,Australia,1921,0.0,Geraldton,"(-28.7796535, 114.6144452)"
5,65,65,65,1922-03-22,11:40,Aero Limited,NaN,Miami - Bimini,Aeromarine Model 85 (flying boat),NaN,...,North Atlantic Ocean,40.000000,-40.000000,POINT (40 -40),83.333333,NaN,1922,0.0,Miami,"(25.7616798, -80.1917902)"
6,66,66,66,1922-04-07,13:15,Daimler Airways / Grands Express Aeriens,NaN,Croydon - Le Bourget,de Havilland DH-18 / Farman F-60 Goliath,G-EAOW/FGEAD,...,"Grandvilliers, France",49.664777,1.942828,POINT (49.6647765 1.9428278),100.000000,France,1922,0.0,Croydon,"(51.376165, -0.098234)"
7,68,68,68,1922-06-03,NaN,Cie des Messageries Aeriennes,NaN,Croydon - Paris,Bleriot Spad 27,F-ACMH,...,"Folkestone, Kent, England",51.079134,1.179407,POINT (51.07913350000001 1.1794073),100.000000,United Kingdom,1922,0.0,Croydon,"(51.376165, -0.098234)"
8,70,70,70,1922-07-16,16:45,Compagnie Franco-Roumaine de Navigaation Aerienne,NaN,Strasbourg - Paris,Potez 29,F-FREI,...,"Saverne, Lorraine, France",48.741991,7.362595,POINT (48.7419909 7.3625953),100.000000,France,1922,0.0,Strasbourg,"(48.5734053, 7.752111299999999)"
9,73,73,73,1922-10-02,NaN,de Havilland Air Service,NaN,Venice - London,de Havilland DH-9,G-EAYT,...,"Venice, Italy",45.437191,12.334590,POINT (45.4371908 12.3345898),100.000000,Italy,1922,0.0,Venice,"(45.4408474, 12.3155151)"
10,75,75,75,1922-12-03,NaN,Grands Express Aeriens,NaN,Toulouse - Barcelona - Valencia - Alicante - M...,Breguet 14,F-ALNA,...,"Fez, Morocco",34.034653,-5.016193,POINT (34.0346534 -5.0161926),100.000000,Morocco,1922,0.0,Toulouse,"(43.604652, 1.444209)"
11,80,80,80,1923-05-14,13:42,Grands Express Aeriens (Air Union),NaN,Paris - London,Farman F-60 Goliath,F-AEBY,...,"Amiens, Picrdie, France",49.899796,2.216300,POINT (49.899796 2.2163),100.000000,France,1923,0.0,Paris,"(48.856614, 2.3522219)"
12,81,81,81,1923-08-27,17:30,Air Union,NaN,Paris - Berck-sur-Mer - Croydon,Farman F.60 Goliath,F-AECB,...,"East Mallling, United Kingdom",51.188191,-2.225989,POINT (51.188191 -2.225989),9.090909,United Kingdom,1923,0.0,Paris,"(48.856614, 2.3522219)"
13,84,84,84,1923-09-14,18:00,Daimler Airways,NaN,Croydon - Manchester,de Havilland DH-34,G-EBBS,...,"Ivinghoe, Buckinghamshire, England",51.836403,-0.629889,POINT (51.8364034 -0.6298887),100.000000,United Kingdom,1923,0.0,Croydon,"(51.376165, -0.098234)"
14,90,90,90,1924-04-24,NaN,KLM Royal Dutch Airlines,NaN,"Lympne, England - Rotterdam, The Netherlands",Fokker F.III,H-NABS,...,the English Channel,50.134487,-1.913820,POINT (50.1344865 -1.9138205),100.000000,La Hague,1924,0.0,"Lympne, England","(51.075215, 1.025608)"
15,91,91,91,1924-06-08,NaN,SCADTA,NaN,Barranquilla - Bogota,Junkers F-13,A16,...,"Barranquilla, Colombia",10.979967,-74.801308,POINT (10.9799669 -74.80130849999998),100.000000,Colombia,1924,0.0,Barranquilla,"(11.0041072, -74.80698129999999)"
16,95,95,95,1924-12-24,12:00,Imperial Airways,NaN,London - Paris,de Havilland DH-34B,G-EBBX,...,"Purley, England",51.338516,-0.115893,POINT (51.3385156 -0.115893),100.000000,United Kingdom,1924,0.0,London,"(51.5073509, -0.1277583)"
17,96,96,96,1925-03-22,NaN,Zakavia,NaN,Tiflis - Suchumi,Junkers F-13,R-RECA,...,"Tiflis, Georgia, USSR",41.640226,42.994420,POINT (41.640226 42.99442),100.000000,Georgia,1925,0.0,Tiflis,"(41.7151377, 44.827096)"
18,97,97,97,1925-04-25,NaN,Grands Express Aeriens,NaN,Alicante - Barcelona - Toulouse,Breguet 14,F-AFBB,...,"Alicante, Spain",38.353738,-0.490185,POINT (38.353738 -0.4901846),100.000000,Spain,1925,0.0,Alicante,"(38.3459963, -0.4906855)"
19,98,98,98,1925-06-25,NaN,KLM Royal Dutch Airlines,NaN,Amsterdam - Paris,Fokker (KLM) F.III,H-NABM,...,"Landrécies, France",50.125014,3.691302,POINT (50.1250142 3.6913023),100.000000,France,1925,0.0,Amsterdam,"(52.3675734, 4.9041389)"
20,99,99,99,1925-06-26,NaN,Grands Express Aeriens,NaN,Oran - Alicante,Lioré-et-Olivier LeO H-13,F-FREM,...,"Alicante, Spain",38.353738,-0.490185,POINT (38.353738 -0.4901846),100.000000,Spain,1925,0.0,Oran,"(35.6987388, -0.6349319)"
21,100,100,100,1925-07-20,NaN,Lignes Aeriennes Latecoere,NaN,Toulouse - Barcelona,Breguet 14,F-AFBI,...,"Rosas, Spain",42.263202,3.175533,POINT (42.2632018 3.1755328),100.000000,Spain,1925,0.0,Toulouse,"(43.604652, 1.444209)"
22,103,104,104,1925-10-01,NaN,US Aerial Mail Service,NaN,New York - San Francisco,De Havilland DH-4,385,...,"Mt. Nittany, Ohio",39.755359,-84.290657,POINT (39.75535900000001 -84.290657),100.000000,United States,1925,0.0,New York,"(40.7127753, -74.0059728)"
23,108,109,109,1926-05-31,NaN,Air Union,NaN,Paris - Cryodon,Breguet 14,F-ADAI,...,English Channel,50.134487,-1.913820,POINT (50.1344865 -1.9138205),100.000000,La Hague,1926,0.0,Paris,"(48.856614, 2.3522219)"
24,109,110,110,1926-07-03,NaN,Compagnie Internationale de Navigation Aérienne,NaN,Paris - Prague - Budapest,Caudron C-61,F-AFBT,...,Slovakia,48.741152,19.452865,POINT (48.74115220000001 19.4528646),100.000000,Slovakia,1926,0.0,Paris,"(48.856614, 2.3522219)"
25,110,111,111,1926-07-09,09:30,KLM Royal Dutch Airlines,NaN,Amsterdam - Rotterdam - Brussels - Paris,Fokker F7,H-NACC,...,"Wolvertem, Belgium",50.963331,4.293163,POINT (50.96333145 4.2931627906237),100.000000,Belgium,1926,0.0,Amsterdam,"(52.3675734, 4.9041389)"
26,112,113,113,1926-08-18,NaN,Air Union,NaN,"Lebourget, France - Croydon, England",Bleriot 155,F-AIEB,...,"Hurst, Kent, England",51.252689,0.335386,POINT (51.25268939999999 0.3353857),20.000000,United Kingdom,1926,0.0,"Lebourget, France","(48.936752, 2.425377)"
27,114,115,115,1926-10-02,15:27,Air Union,NaN,Paris - London,Bleriot 155,F- AICQ,...,"Leigh, Kent, Unied Kingdom",53.495180,-2.517835,POINT (53.49518000000001 -2.517835),100.000000,United Kingdom,1926,0.0,Paris,"(48.856614, 2.3522219)"
28,116,117,117,1926-10-21,13:15,Imperial Airways,NaN,Croydon - Paris,Handley Page W-10,G-EBMS,...,English Channel,50.134487,-1.913820,POINT (50.1344865 -1.9138205),100.000000,La Hague,1926,0.0,Croydon,"(51.376165, -0.098234)"
29,120,121,121,1927-03-20,NaN,Grands Express Aeriens,NaN,Casablanca - Oran,Breguet 14,F-ALRA,...,"Rabat, Morocco",34.022405,-6.834543,POINT (34.022405 -6.834542999999999),100.000000,Morocco,1927,0.0,Casablanca,"(40.5767703, -80.02547129999999)"
30,121,122,122,1927-03-24,NaN,Qantas,NaN,Charleville - Tambo - Blackall,de Havilland DH-9C,G-AUED,...,"Tambo, Qld, Australia",-24.883065,146.253257,POINT (-24.8830649 146.2532573),100.000000,Australia,1927,0.0,Charleville,"(38.62136, -90.213775)"
31,123,124,124,1927-04-22,NaN,Deutsche Lufthansa,NaN,Charleville - Tambo - Blackall,Fokker FG III,D-729,...,"Floh, Germany",50.756810,10.473030,POINT (50.7568104 10.4730297),100.000000,Germany,1927,0.0,Charleville,"(38.62136, -90.213775)"
32,126,127,127,1927-07-27,NaN,Deutsche Lufthansa,NaN,Kassel - Frankfurt,Junkers F-13,D-206,...,"Amoneburg, Germany",50.799465,8.941292,POINT (50.79946485 8.941291794880501),100.000000,Germany,1927,0.0,Kassel,"(51.3127114, 9.4797461)"
33,127,128,128,1927-08-22,08:30,KLM Royal Dutch Airlines,NaN,Croydon - Schiphol,Fokker F-VIII,H-NADU H-NADU,...,"Sevenoaks, England",51.274522,0.196117,POINT (51.27452185 0.1961165562194981),9.090909,United Kingdom,1927,0.0,Croydon,"(51.376165, -0.098234)"
34,130,131,131,1927-09-17,04:05,Private,NaN,Old Orchad Beach - Rome,Fokker F7,NX703,...,Atlantic Ocean,13.581921,-38.320312,POINT (13.581921 -38.320312),100.000000,NaN,1927,0.0,Old Orchad Beach,"(43.5177659, -70.3772911)"
35,131,132,132,1927-09-23,10:00,Deutsche Lufthansa,NaN,Berlin - Munich,Dornier Merkur,D-585,...,"Schleiz, Germany",50.559050,11.804001,POINT (50.5590505 11.8040013),100.000000,Germany,1927,0.0,Berlin,"(52.52000659999999, 13.404954)"
36,132,133,133,1927-10-06,NaN,Lignes Aeriennes Latecoere,NaN,Saint Louis - Dakar,Breguet 14,F-AGBN,...,"Thies, Mauritania",14.834170,-17.106110,POINT (14.83417 -17.10611),100.000000,Senegal,1927,0.0,Saint Louis,"(38.6270025, -90.19940419999999)"
37,134,135,135,1927-11-08,NaN,CIDNA,NaN,Strasbourg - Paris,Farman F-121 Jabiru,F-AIBR,...,"Strasburg, France",48.584614,7.750713,POINT (48.584614 7.750712700000001),100.000000,France,1927,0.0,Strasbourg,"(48.5734053, 7.752111299999999)"
38,135,136,136,1927-11-16,NaN,Aero O-Y,NaN,Tallinn - Helsinki,Junkers F-13,K-SALD,...,the Gulf of Finland,59.873733,26.314445,POINT (59.87373345 26.3144452569276),100.000000,NaN,1927,0.0,Tallinn,"(59.43696079999999, 24.7535746)"
39,137,138,138,1927-12-28,NaN,Aeropostale,NaN,Dakar - Casablanca - Alicante - Perpignan - To...,Breguet 14,F-AFGS,...,"Almeria, Spain",36.841420,-2.462814,POINT (36.8414197 -2.4628135),100.000000,Spain,1927,0.0,Dakar,"(14.716677, -17.4676861)"
41,140,141,141,1928-01-16,NaN,Aeropostale,F-AIKG,Buenos Aires - Montevideo,Latecoere 25,F-AIKG,...,"Solis, Uruguay",-34.792373,-55.383716,POINT (-34.79237329999999 -55.38371609999999),100.000000,Uruguay,1928,0.0,Buenos Aires,"(-34.6036844, -58.3815591)"
42,141,142,142,1928-01-22,NaN,Aeropostale,NaN,Toulouse - Perpignan - Alicante - Casablanca -...,Breguet 14,F-AHEQ,...,"L'Hospitalet, Ariège",43.229743,1.713803,POINT (43.2297425 1.7138034),100.000000,France,1928,0.0,Toulouse,"(43.604652, 1.444209)"
43,142,143,143,1928-01-22,NaN,Aeropostale,NaN,Casablanca - Alicante - Perpignan - Toulouse,Breguet 14,F-AHEQ,...,"Tarragona, Spain",41.117236,1.254606,POINT (41.1172364 1.2546057),100.000000,Spain,1928,0.0,Casablanca,"(40.5767703, -80.02547129999999)"
44,143,144,144,1928-01-27,NaN,Aeropostale,NaN,Casablanca - Alicante - Perpignan - Toulouse,Breguet 14,F-AFHN,...,"Almeria, Spain",36.841420,-2.462814,POINT (36.8414197 -2.4628135),100.000000,Spain,1928,0.0,Casablanca,"(40.5767703, -80.02547129999999)"
45,145,146,146,1928-03-11,NaN,Air Union,NaN,Paris - Croydon,Farman F-60 Goliath,F-AEFC,...,"Cape Griz Nez, France",41.893530,-8.762530,POINT (41.89353 -8.76253),100.000000,Portugal,1928,0.0,Paris,"(48.856614, 2.3522219)"
46,147,148,148,1928-04-19,NaN,Iberia Airlines,NaN,Barcelona - Madrid,Rohrbach Roland,M-CCCC,...,"Minuesa, Spain",39.690325,-4.427360,POINT (39.6903253 -4.427360299999999),100.000000,Spain,1928,0.0,Barcelona,"(40.51195999999999, -80.001637)"
47,149,150,150,1928-05-12,NaN,Ford Air Freight Inc.,NaN,Dearborn - Buffalo,Ford 4,NC1492,...,"Dearborn, Minnesota",44.920036,-93.390648,POINT (44.920036 -93.390648),100.000000,United States,1928,0.0,Dearborn,"(42.3222599, -83.17631449999999)"
48,150,151,151,1928-05-26,NaN,Deutsche Lufthansa,NaN,Essen - Dortmund - Frankfurt,Junkers F-13,D-583,...,"Radevormwald, Germany",51.202923,7.357139,POINT (51.2029228 7.357139200000002),60.000000,Germany,1928,0.0,Essen,"(51.4556432, 7.0115552)"
49,152,153,153,1928-06-22,NaN,National Air Transport,NaN,Chicago - Dallas,Douglas M-4,NC1059,...,"Lebo, Kansas",38.416682,-95.853044,POINT (38.4166818 -95.85304410000001),100.000000,United States,1928,0.0,Chicago,"(41.8781136, -87.6297982)"
50,153,154,154,1928-07-10,NaN,Aero O-Y,NaN,Tallinn - Helsinki,Junkers F-13,K-SALB,...,the Gulf of Finland,59.873733,26.314445,POINT (59.87373345 26.3144452569276),100.000000,NaN,1928,0.0,Tallinn,"(59.43696079999999, 24.7535746)"
51,156,157,157,1928-08-25,11:00,British Columbia Airways,NaN,Victoria - Seattle,Ford 4-AT-B Tri Motor,G-CATX,...,"Port Townsend, BC, Canada",48.123093,-122.782840,POINT (48.123093 -122.78284),100.000000,United States,1928,0.0,Victoria,"(44.8587227, -93.6615338)"
52,157,158,158,1928-09-02,91:5,CIDNA,NaN,Toul - Clermont-Ferrand,Bleriot Spad 33,F-AIEP,...,"Toul, France",48.676262,5.894176,POINT (48.6762624 5.8941759),100.000000,France,1928,0.0,Toul,"(48.678296, 5.890159)"
53,158,159,159,1928-09-04,NaN,Qantas,NaN,Adelaide - Longreach,de Havilland DH.50J,G-AUHI,...,"Adelaide Hills, Australia",-34.901352,138.829320,POINT (-34.90135165 138.829320281746),50.000000,Australia,1928,0.0,Adelaide,"(-34.9284989, 138.6007456)"
54,159,160,160,1928-09-04,11:30,National Parks Airways,NaN,Great Falls - Pocatello - Salt Lake City,Fokker Super Universal,NC7242,...,"Pocatello, Idaho",42.868861,-112.440110,POINT (42.86886129999999 -112.4401098),100.000000,United States,1928,0.0,Great Falls,"(38.9987208, -77.2538699)"
55,161,162,162,1928-10-04,NaN,Aeropostale,NaN,Casablanca - Alicante - Barcelona - Perpignan ...,Breguet 14,F-AEEJ F-AEEJ,...,"Gerona, Spain",41.979301,2.819944,POINT (41.9793006 2.8199439),100.000000,Spain,1928,0.0,Casablanca,"(40.5767703, -80.02547129999999)"
56,163,164,164,1928-10-31,NaN,Air Union,NaN,Paris - Lyon - Marseille,Bleriot Spad 56,F-AIMN,...,"Valence, France",44.933228,4.892081,POINT (44.9332277 4.8920811),50.000000,France,1928,0.0,Paris,"(48.856614, 2.3522219)"
57,164,165,165,1928-11-15,NaN,Aeropostale,NaN,Marseille - Palma de Majorca,Latecoere 32,F-AISN,...,Gibraltar,36.106747,-5.335277,POINT (36.10674695 -5.33527718348356),33.333333,Gibraltar,1928,0.0,Marseille,"(43.296482, 5.36978)"
58,165,166,166,1928-11-24,NaN,Universal Airlines,NaN,Cleveland - Chicago,Hamilton H-47,NC7521,...,"Edgerton, Ohio",41.448662,-84.748012,POINT (41.4486619 -84.7480123),100.000000,United States,1928,0.0,Cleveland,"(41.49932, -81.6943605)"
59,167,168,168,1928-11-25,NaN,Continental Air Lines,NaN,Cleveland - Louisville,Travel Air 4000,NC5436,...,"Edgerton, Ohio",41.448662,-84.748012,POINT (41.4486619 -84.7480123),100.000000,United States,1928,0.0,Cleveland,"(41.49932, -81.6943605)"
60,168,169,169,1928-12-01,10:00,Sunbeam Air Transport Co.,NaN,San Antonio - Amarillo - Tulsa - Denver,Ford 4-AT-B Tri Motor,NC7862,...,"Spur, Texas",33.476477,-100.855686,POINT (33.4764767 -100.8556857),100.000000,United States,1928,0.0,San Antonio,"(29.4241219, -98.49362819999999)"

In [75]:
Lines=[]
for i, row in df.iterrows():
    #pdb.set_trace()
    lat, lng = row["Departure Lat,Lng"].replace('(', '').replace(')', '').split(",")
    #print(lat)
    start_lat =float(lat)
    start_lng =float(lng)
    crash_lat = row['Latitude']
    crash_lng = row['Longitude']
    line = gmaps.Line((start_lat, start_lng), (crash_lat, crash_lng),stroke_weight=3.0 )
    Lines.append(line)

In [89]:
text_list=[]
#Also instead of \n you must use html's <br/>
for index, row in df.iterrows():
    text_list.append('Information: <br/>' + 
                     "Date: " + str(row['Date']) + "<br/>" + 
                     "Time: " + str(row['Time']) + "<br/>" +
                     "Operator: " + str(row['Operator']) + "<br/>" +
                     "Flight #: " + str(row['Flight #']) + "<br/>" +
                     "Route: " + str(row['Route']) + "<br/>" +
                     "AC Type: " + str(row['AC Type']) + "<br/>" +
                     "Registration: " + str(row['Registration']) + "<br/>" +
                     "cn/ln: " + str(row['cn/ln']) + "<br/>" +
                     "Aboard: " + str(row['Aboard']) + "<br/>" +
                     "Aboard Passengers: " + str(row['Aboard Passengers']) + "<br/>" +
                     "Aboard Crew: " + str(row['Aboard Crew']) + "<br/>" +
                     "Fatalities: " + str(row['Fatalities']) + "<br/>" +
                     "Fatalities Passengers: " + str(row['Fatalities Passengers']) + "<br/>" +
                     "Fatalities Crew: " + str(row['Fatalities Crew']) + "<br/>" +
                     "Ground: " + str(row['Ground']) + "<br/>" +
                     "Summary: " + str(row['Summary']) + "<br/>" +
                     "Location: " + str(row['Location']) + "<br/>" +
                     "Latitude: " + str(row['Latitude']) + "<br/>" +
                     "Longitude: " + str(row['Longitude']) + "<br/>" +
                     "geometry: " + str(row['geometry']) + "<br/>" +
                     "Departure Lat,Lng" + str(row['Departure Lat,Lng']) + "<br/>" 
                    )

In [91]:
rating = df["Fatalities"]
locations = df[["Latitude", "Longitude"]]

# Plot Heatmap
fig2 = gmaps.figure()
figure_layout2 = {
    'width': '2000px',
    'height': '2000px',
    'border': '1px solid black',
    'padding': '1px'
}
gmaps.figure(layout=figure_layout2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations.values, 
                                 weights=rating.dropna(), 
                                 dissipating=True, 
                                 max_intensity=df['Fatalities'].max()/20,
                                 point_radius=15,
                                 opacity=0.95)
# Add layer
fig2.add_layer(heat_layer)

marker_layer = gmaps.marker_layer(locations.dropna(),
                                  info_box_content=text_list)
# Display figure
fig2.add_layer(marker_layer)

# Features to draw on the map
drawing = gmaps.drawing_layer(features=Lines)
marker_layer2 = gmaps.marker_layer(locations.dropna(),
                                  info_box_content=text_list)
# Display figure
fig2.add_layer(marker_layer2)




fig2.add_layer(drawing)



fig2

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html

In [ ]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/davidcoy/Downloads/My First Project-d821d4ac1a16.json"
print(os.environ['GOOGLE_APPLICATION_CREDENTIALS'])

In [ ]:
import bq_helper
from bq_helper import BigQueryHelper #https://www.kaggle.com/sohier/introduction-to-the-bq-helper-package

In [ ]:
#https://www.kaggle.com/jessicali9530/how-to-query-world-development-indicators-data
wdi = bq_helper.BigQueryHelper(active_project="patents-public-data",
                                   dataset_name="worldbank_wdi")

In [ ]:
# View table names under the worldbank_wdi data table
bq_assistant = BigQueryHelper("patents-public-data", "worldbank_wdi")
bq_assistant.list_tables()

In [ ]:
# View the first three rows of the wdi_2016 data table
df = bq_assistant.head("wdi_2016", num_rows=100)
df

In [ ]:
query1 = """
SELECT
  country_name, indicator_value
FROM
  `patents-public-data.worldbank_wdi.wdi_2016`
ORDER BY 
  indicator_value DESC
LIMIT
  20;
        """
response1 = wdi.query_to_pandas_safe(query1)
response1.head(20)