In [4]:
import pandas as pd
gdp_df=pd.read_csv('gdp_data.csv')
flight_df=pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908.csv')

In [7]:
# pd.merge(flight_df,gdp_df, on= 'Location')

In [8]:
gdp_df

            Country Code  Year  GDP-Growth  GDP-Per-Capita           GDP
0             Aruba  ABW  1960         NaN             NaN           NaN
1       Afghanistan  AFG  1960         NaN             NaN           NaN
2            Angola  AGO  1960         NaN             NaN           NaN
3           Albania  ALB  1960         NaN             NaN           NaN
4           Andorra  AND  1960         NaN             NaN           NaN
...             ...  ...   ...         ...             ...           ...
15043        Kosovo  XKX  2016    4.145372     4193.631327  7.738508e+09
15044   Yemen, Rep.  YEM  2016   -2.701475      667.945437  1.903557e+10
15045  South Africa  ZAF  2016    0.787056     7439.919412  4.298757e+11
15046        Zambia  ZMB  2016    3.794901     1672.345428  2.901824e+10
15047      Zimbabwe  ZWE  2016    6.159190     1322.344063  1.909335e+10

[15048 rows x 6 columns]